body{
    margin: 0px;
    max-width: 1400px;
    padding: 0px
}
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
font-style: normal;
}
 /* header section -----*/

header{
     background-image: url(../image/Hero-bg.png);
    background-repeat: no-repeat;
    padding: 40px;
    max-width: 1440px;
    height: 450px;
     margin-bottom: 116px;
}
.nav{
    display: flex;
    justify-content: space-between;
}

.btn{
    border-radius: 8px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    width: 100px;
    height: 32px;
    cursor: pointer;
    padding: 10px;
    font-size: 12px;
    font-weight:500;
}
.btn-1{
    border-radius: 8px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    width: 80px;
    height: 32px;
    cursor: pointer;
    padding: 9px;
    font-size: 12px;
    font-weight:500;

}

.banner-section{       
text-align: center;margin-top: 80px;
}
span{
    color: #4E47FF;
}
.title-1{
    font-size: 30px;
    font-weight: bold;
}
.title{
    font-weight: bolder;
    font-size: 50px;
}
.btn:hover,.btn-1:hover,.btn-2:hover,.btn-3:hover{
    background-color: goldenrod
}
/* MAIN SECTION */
.main{
    background-image: linear-gradient(to top,#D6DDED ,  white );
}
section{
    
    margin-bottom: 116px;
}
.action-section{
    display: flex;
    align-items: center;
    gap:130px;
       max-width:700px;
    margin: 0 auto;
    height: 200px;
}.img-1{
    border-radius: 40px;
    width:270px;
    height: 220px;
}.font-size{
    font-size: 15px;
      color: #777777
}
.btn-2{
    width: 150px;
    height: 35px;
      border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;border: none;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
}
.users{
   
    max-width: 670px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 116px;
    background-color: #e3e4ff;
    line-height: 10px;
    text-align: center;padding: 30px;
    border-radius: 24px;
}
.user-container{
    display: flex;
    justify-content: space-around
}
/* font change */

.inter-change {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.user-heading{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;

}
.user-description{
    font-size: 10px;
      color: #777777;
  
}
/* Review section */
.review-section{ 
    max-width: 760px;
    height: 180px;
    margin: 0 auto;
    /* margin-top: 100px; */
    margin-bottom: 170px;
    line-height: 10px;
    text-align: center;padding: 30px;
    border-radius: 24px;
}
.improve-title{
    font-size: 30px;
    font-weight: bold;
}
.card-container{
display: flex;
gap:15px;
margin-top: 20px;
padding: 20px;
}
.review-heading{
    font-size: 15px;
    color: #1E1E1E;
    
}
.review-title{
    font-size: 27px;
    font-weight: bold;
}
.customer-name{
    font-size: 10px;
    color: #757575
}
.customer img{
    border-radius: 50%
}
.card{
    width: 250px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: left;
    padding: 35px
}   
.customer-time{
    font-size: 8px;
    color: #B3B3B3;
}
.customer{
    display: flex;
    gap: 5px;
    align-items: center;
    line-height:0px;
}
/* improve-section */
.improve-section{
    border-radius: 14px;
     
    max-width: 700px;
    height: 480px;
    margin: 0 auto;
    margin-bottom: 100px;
      text-align: center;padding: 30px;
    background-color: white;

}
.wc-img{
    border-radius: 40px;
    width: 600px;
    height: 280px;
}

/* touch section */
.touch-heading{
    font-size: 60px;
    font-weight: bold;
}


.touch{
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    max-width: 700px;
    height: 300px;
    padding: 100px;
     

}
input[type="email"],input[type="text"],textarea{
    border-radius: 5px;
     height: 50%;
        width:  300px;
        background-color: white;
        border: none;
        padding: 13px;
        display: block;
        font-size: 10px
}
.font-bolder{
    font-size: 80px;
    
}

.form-label{
    font-size: 10px;
    font-weight: 600;
}
.btn-3{
     width: 320px;
    height: 35px;
      border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;border: none;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
}
.url {
      display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;           
  list-style: none;       
}
ul li {
list-style: none;
}
ul a{
    text-decoration: none;
    color: #8987A1;
    font-size: 10px;
 
}
ul a:hover{
    background-color:rgb(32, 31, 31);
}
.footer{ 
    align-items: center;

    text-align: center;
    line-height: 10px;
    margin-bottom: 60px;
    
}
